# Importing all the necessary library to be used in this project

In [1]:
#For performing EDA we will use pandas and numpy library
import pandas as pd
import numpy as np

#For visualizing the data we will use matplotlib and seaborn library
import matplotlib.pyplot as plt
from matplotlib import rcParams
rcParams['figure.figsize'] = (10, 6)
import seaborn as sns
%matplotlib inline

In [2]:
#For ignoring unwanted warnings we will import warning filter

import warnings
warnings.filterwarnings('ignore')

## Now we will read the train and test dataset as we have them separated already and perform EDA

In [3]:
df_train = pd.read_csv('train.csv')

#To view the dataset we use below code
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_test = pd.read_csv("test.csv")

#To view the dataset we use below code
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df_test.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

In [12]:
#Count the data in each of the columns
counts = [[], [], []]

for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

## Now we will perform the following task one-by-one.

### If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
### Apply label encoder

In [13]:
# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [14]:
for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

,X176,X257,X102,X334,X201,X266,X110,X305,X350,X215,...,X354,X206,X358,X196,X218,X281,X123,X254,X109,X208
0,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,1,0,...,1,1,1,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [15]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

### 2. Check for null and unique values for test and train sets.

In [17]:
df_train.shape

(4209, 378)

In [18]:
df_train.isnull().any().sum()

0

In [19]:
df_test.shape

(4209, 377)

In [20]:
df_test.isnull().any().sum()

0

In [21]:
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

### Perform dimensionality reduction

In [22]:
# for dimensionality reduction
from sklearn.decomposition import PCA

In [23]:
# Linear dimensionality reduction using Singular Value Decomposition of the data to project it to a lower dimensional space.
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [24]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [25]:
x_train, x_valid, y_train, y_valid = train_test_split(pca2_results_train,y_train, test_size=0.2,random_state=4242)

In [26]:
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

In [27]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [28]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [29]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [30]:
clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[23:33:28] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.1483	valid-rmse:98.263	train-r2:-58.353	valid-r2:-67.6375
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.2765	valid-rmse:80.3643	train-r2:-38.8843	valid-r2:-44.9101
[20]	train-rmse:66.7161	valid-rmse:65.7733	train-r2:-25.874	valid-r2:-29.7526
[30]	train-rmse:54.8692	valid-rmse:53.8912	train-r2:-17.1772	valid-r2:-19.6451
[40]	train-rmse:45.2456	valid-rmse:44.2223	train-r2:-11.3602	valid-r2:-12.9016
[50]	train-rmse:37.4474	valid-rmse:36.3777	train-r2:-7.46672	valid-r2:-8.40705
[60]	train-rmse:31.1511	valid-rmse:30.0178	train-r2:-4.85891	valid-r2:-5.40531
[70]	train-rmse:26.0869	valid-rmse:24.9073	train-r2:-3.10882	valid-r2:-3.40998
[80]	train-rmse:22.0489	valid-rmse:20.8235	train-r2:-1.93526	valid-r2:-2.08239
[90]	train-rmse:18.8543	valid-rmse:17.5972	train-r2:-1.14631	valid-r2:-1.20125
[100]	train-rmse:16.342	valid-rmse:15.0756	train-r2:-0.612443	valid-r2:-0.615589
[110]	train-rmse:14.4101	valid-rmse:13.1458	train-r2:-0.25374	valid-r2:-0.228452
[120]	train-rmse:12.939	valid-rmse:11.6889	train-r2:-0.010819	valid-r2:0.028761
[130]	train-rmse:11.8296	valid-rmse:10.6179	train-r2:0.155085	valid-r2:0.198578
[140]	train-rmse:10.997	valid-rmse:9.85768	train-r2:0.26983	valid-r2:0.309234
[150]	train-rmse:10.3914	valid-rmse:9.32737	train-r2:0.34804	valid-r2:0.381557
[160]	train-rmse:9.94025	valid-rmse:8.96609	train-r2:0.403424	valid-r2:0.428537
[170]	train-rmse:9.61115	valid-rmse:8.72256	train-r2:0.442273	valid-r2:0.459159
[180]	train-rmse:9.36787	valid-rmse:8.56222	train-r2:0.470149	valid-r2:0.47886
[190]	train-rmse:9.17948	valid-rmse:8.46336	train-r2:0.491247	valid-r2:0.490825
[200]	train-rmse:9.0379	valid-rmse:8.39691	train-r2:0.506819	valid-r2:0.498789
[210]	train-rmse:8.93182	valid-rmse:8.35839	train-r2:0.518328	valid-r2:0.503377
[220]	train-rmse:8.85959	valid-rmse:8.33639	train-r2:0.526087	valid-r2:0.505987
[230]	train-rmse:8.7934	valid-rmse:8.32615	train-r2:0.533142	valid-r2:0.507201
[240]	train-rmse:8.74215	valid-rmse:8.3184	train-r2:0.538568	valid-r2:0.508117
[250]	train-rmse:8.69387	valid-rmse:8.31392	train-r2:0.54365	valid-r2:0.508647
[260]	train-rmse:8.65691	valid-rmse:8.30795	train-r2:0.547522	valid-r2:0.509352
[270]	train-rmse:8.61421	valid-rmse:8.30416	train-r2:0.551975	valid-r2:0.5098
[280]	train-rmse:8.58413	valid-rmse:8.30249	train-r2:0.555099	valid-r2:0.509997
[290]	train-rmse:8.55168	valid-rmse:8.30339	train-r2:0.558456	valid-r2:0.509891
[300]	train-rmse:8.52695	valid-rmse:8.30122	train-r2:0.561006	valid-r2:0.510147
[310]	train-rmse:8.50426	valid-rmse:8.30064	train-r2:0.563339	valid-r2:0.510216
[320]	train-rmse:8.47814	valid-rmse:8.29676	train-r2:0.566017	valid-r2:0.510673
[330]	train-rmse:8.4475	valid-rmse:8.29706	train-r2:0.569148	valid-r2:0.510638
[340]	train-rmse:8.42308	valid-rmse:8.29255	train-r2:0.571636	valid-r2:0.51117
[350]	train-rmse:8.3931	valid-rmse:8.28719	train-r2:0.57468	valid-r2:0.511801
[360]	train-rmse:8.36813	valid-rmse:8.28564	train-r2:0.577206	valid-r2:0.511984
[370]	train-rmse:8.34586	valid-rmse:8.28354	train-r2:0.579454	valid-r2:0.512231
[380]	train-rmse:8.32158	valid-rmse:8.28181	train-r2:0.581897	valid-r2:0.512435
[390]	train-rmse:8.29707	valid-rmse:8.27804	train-r2:0.584357	valid-r2:0.512879
[400]	train-rmse:8.27526	valid-rmse:8.27732	train-r2:0.586539	valid-r2:0.512964
[410]	train-rmse:8.24831	valid-rmse:8.27623	train-r2:0.589228	valid-r2:0.513092
[420]	train-rmse:8.22307	valid-rmse:8.27721	train-r2:0.591738	valid-r2:0.512976
[430]	train-rmse:8.19685	valid-rmse:8.27708	train-r2:0.594337	valid-r2:0.512991
[440]	train-rmse:8.16961	valid-rmse:8.27356	train-r2:0.597029	valid-r2:0.513406
[450]	train-rmse:8.14768	valid-rmse:8.27332	train-r2:0.59919	valid-r2:0.513434
[460]	train-rmse:8.12046	valid-rmse:8.27249	train-r2:0.601862	valid-r2:0.513532
[470]	train-rmse:8.09674	valid-rmse:8.27142	train-r2:0.604185	valid-r2:0.513658
[480]	train-rmse:8.07188	valid-rmse:8.27173	train-r2:0.606612	valid-r2:0.513621
[490]	train-rmse:8.0546	valid-rmse:8.27118	train-r2:0.608294	valid-r2:0.513686
[500]	train-rmse:8.02619	valid-rmse:8.27125	train-r2:0.611053	valid-r2:0.513677
[510]	train-rmse:7.99757	valid-rmse:8.27438	train-r2:0.613822	valid-r2:0.51331
[520]	train-rmse:7.97185	valid-rmse:8.27599	train-r2:0.616302	valid-r2:0.51312
[530]	train-rmse:7.9497	valid-rmse:8.27639	train-r2:0.618431	valid-r2:0.513073
Stopping. Best iteration:
[488]	train-rmse:8.05654	valid-rmse:8.27061	train-r2:0.608106	valid-r2:0.513753

### Predict your test_df values using xgboost

In [33]:
p_test = clf.predict(d_test)
print(p_test)

[ 82.81866   96.86644   83.296165 ...  99.38238  106.483444  96.69978 ]